#splash-wrapper {
    width:100%;
min-height:100%;
.center {
    text-align:center;
    padding: 60px 0 20px 0;
    h1 {
        font-weight:bold;  
    }
#headerDesc {
    color: hsla(0,0%,100%,.6)
}
}

#ctaButtons, .centerContent {
    padding: 20px 0;
   .btn {
    background-color: #2f3136;
    border-radius: 3px;
    color:#f6f6f7;
    cursor: pointer;
    font-size:15px;
    font-weight:500;
    height:48px;
    text-align:center;
    width:212px;
    align-items: center;
    display:flex;
    justify-content: center;

    &.btn-white {
        margin-right: 5px;
        background-color: #FFFFFF;
        color: #2f3136;
    }
    
}
}

.splashImage-wrap {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
     height:680px;
    .splashImage {
        //background:url('/assets/iot_banner2.png') no-repeat;
        width: 100%;
      
        min-height:100%;
        
    }
}

.centerContent {
    display: flex;
    justify-content: center;
}


}



// @media screen and (max-width:800px) {
    
// }