@media (min-width: $phone-width) {

    footer {

        .wespeak {
            text-align: center;
            font: {
                size: 3.0rem;
            }
            padding:20px 0;

            .label {

                span {
                    display: block;
                }
            }

        }

        #social-wrapper {

            background: #2c2f33;

            .social {
                padding: 20px 0 0 0;
                margin: 0;
                display: flex;
                justify-content: center;

                div {
                    border-radius: 100%;
                    border-style: none;
                    display: inline-block;
                    width: 3.0rem;
                    height: 3.0rem;
                    margin: 0 20px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: 50% 50%;

                    &.facebook {
                        background-image: url('https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/fb.png');
                    }
                    &.twitter {
                        background-image: url('https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/tw.png');
                    }
                    &.youtube {
                        background-image: url('https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/yt.png');
                    }
                    &.github {
                        background-image: url('https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/gh.png');
                    }
                    &.email {
                        background-image: url('https://s3.us-east-2.amazonaws.com/tech-uncensored-assets/email.png');
                    }
                }
            }

            .desc {
                text-align: center;
                padding: 20px;
                margin-bottom: 20px;
                font: {
                    weight: 400;
                    size: 0.7rem;
                    family: 'Roboto';
                }
                ;

            }
        }

    }

}
