$primary: #0C1117;
$secondary: #777777;
$background: #fffcea;

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #18191C;
  color: #FFFFFF;
  font-family: 'Ubuntu';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  width: 100%;
  max-height: 150px;
  overflow: hidden;
}

// Clearfix
.clearfix {
  clear: both;
  content: " ";
  height: 1%;
  overflow: hidden;
  position: relative;
}

// END Clearfix
.btn {
  border-radius: 10px;
  background: $primary;
  color: #FFF;
  text-align: center;
  &.large {
    width: 180px;
    padding: 5px 20px;
  }
}

@media (max-width: 800px) {
  header {
    height: auto;
    padding: 20px;
    text-align:center;
    #logo {
      display: inline;
      float:none;
      margin: 0 auto;
      font-size:4.0vw;
    }
    #live-status {
      position:relative;
      width: 150px;
      margin: 0 auto;
      left: 0;
      top: auto;
    }
    .navigation {
      display:block;
      float:none;
      margin: 2px 0;
      font:{
        size: 14px;
      }
      right: auto;
      position:relative;
    }
    /*end nav*/
  }
  /*end header*/
  #homepage-banner {
    display: none;
  }
  #main-content {
    font: {
      size: 20px;
      weight: normal;
    }
    padding: 20px;
  }
  .cards {
    padding-top: 5px;
    padding-bottom: 5px;
    .card {
      margin: 0 2.5%;
      width: 28.33%;
      float: left;
      position: relative;
      background-color: #FFF;
      transition: box-shadow .25s;
      border-radius: 2px;
      overflow: hidden;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
      .card-image {
        position: relative;
        cursor: default;
        vertical-align: middle;
        z-index: 1;
        will-change: opacity, transform;
        transition: all .3s ease-out;
      }
      .card-content {
        padding: 2px;
        border-radius: 0 0 2px 2px;
        box-sizing: inherit;
        display: block;
        .card-title {
          line-height: 75%;
          font-size: 24px;
          font-weight: lighter;
          color: #212121;
        }
      }
      .card-action {
        cursor: pointer;
        position: relative;
        background-color: inherit;
        border-top: 1px solid rgba(160, 160, 160, 0.2);
        padding: 20px;
        font {
          size: 75%;
        }
        a {
          color: #FFAB40;
          margin-right: 20px;
          transition: color .3s ease;
          text-transform: uppercase;
          text-decoration: none;
          -webkit-tap-highlight-color: transparent;
          &:hover {
            color: #2C3E50;
          }
        }
        .postDate {
          color: #FFAB40;
          float: right;
          text-align: center;
          font: {
            weight: lighter;
            size: 75%;
          }
        }
      }
    }
  }
  .btn {
    cursor: pointer;
  }
  #highlights {
    display: none;
  }
  .callout {
    display: none;
  }
}

/** landscape**/

@media only screen and (max-width: 600px)
{

 
}