.landing {
    width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  .split {
    width: 100%;
    height: 100vh;
    text-align: center;
    
    &.left {
       
        width: 99%;
        transition: 2s;
        background-image: url("../../public/images/wire.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      
      filter: blur(5px);
    }
    &:before {
      
       
    }
     &:hover {
         filter: none;
         width: 100%;
     }
    &.middle {
      width: 99%;
      transition: 2s;
      background-image: url("../../public/images/logo.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(5px);
    
    }
    &:before,:hover {
        filter: none;
        width: 100%;
      
    }
    &.right {
         position: relative;
       width: 99%;
       transition: 1s;
      background-image: url("../../public/images/softland.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      filter: blur(5px);
    }
     &:hover {
         filter: none;
         width: 100%;
     }
    
    h1 {
      color: red;
      position: relative;
      top: 50%;
      z-index:10;
    }
    .button {
      align-self: center;
      margin: 0 auto;
      border: 1px solid black;
      position: relative;
      top: 60%;
      padding: 1rem;
      z-index: 10;
    }
  }
}
