#splash-wrapper {
    width:100%;
min-height:100%;
.logo-image {
    width: 5em;
    height: 5em;
    margin: 2em;
}
.center {
    text-align:center;
    padding: 60px 0 20px 0;
    h1 {
        font-weight:bold;  
        font-size:40px;
    }
#headerDesc {
    color: hsla(0,0%,100%,.6);
    font-size:18px;
}
}

#ctaButtons, .centerContent {
    padding: 20px 0;
   .btn {
    background-color: #2f3136;
    border-radius: 3px;
    color:#f6f6f7;
    cursor: pointer;
    font-size:15px;
    font-weight:500;
    height:48px;
    text-align:center;
    width:212px;
    align-items: center;
    display:flex;
    justify-content: center;
    
    &.callnow {
        a {
            text-decoration:none;
            color: #2f3136;
        }
    }

    &.btn-white {
        margin-right: 5px;
        background-color: #FFFFFF;
        color: #2f3136;
    }
    
}
}

.splashImage-wrap {
    width: 100%;
    padding: 20px 0;
    margin: 0 auto;
     height:600px;
     
    .splashImage {
        width: 100%;
        min-height:100%;
    }
}

.centerContent {
    display: flex;
    justify-content: center;
}


}



 @media screen and (max-width:800px) {
    #splash-wrapper {
        margin: {
         top: 2em;   
        }
        .logo-image {
            display: block;
            margin: 0 auto;
        }
        .center {
            text-align: center;
            padding: 0;
            
            h1 {
                font: {
                 size: 2.5em;   
                }
            }
        }
    }
 }
 
  @media screen and (max-width:640px) and (orientation: landscape) {
    #splash-wrapper {
        margin: {
         top: 2em;   
        }
        .logo-image {
            display: block;
            margin: 0 auto;
        }
        .center {
            text-align: center;
            padding: 0;
            
            h1 {
                font: {
                 size: 1.7em;   
                }
            }
        }
        
        .splashImage-wrap {
            height: 250px;
        }
    }
 }
 
  @media screen and (max-width:640px) and (orientation: portrait) {
      #splash-wrapper {
        .splashImage-wrap {
            height: 200px;
        }
        .centerContent {
            display:block; 
            text-align:center;
        }
      }
  }